<div class="main top-main">
  <div class="container">
    <div class="top-message">
      <h2>NeedLee</h2>
      <p>鍼灸マッチングAPP</p>
      <p>お気に入りの鍼灸師さんが見つかるアプリ</p>
    </div>
    <div class="top-menus">
      <li class="top-menu">
        <%= link_to("新規ユーザー登録", "/newusers/signup", class: "signup") %>
      </li>
      <li class="top-menu">
        <%= link_to("ログイン", "/newusers/login", class: "signin") %>
      </li>
    </div>
  </div>
</div>
