<div class="main top-main">
  <div class="top-message">
    <h2>鍼灸師のAPP ですーーーーーーー</h2>
    <p>aaaaaaaaaaaaa</p>
  </div>

  <div class="top-content">
    <ul>
      <li class="singin">
        <%= link_to("鍼灸師さんログイン", "/prousers/login") %>
        <br>
        <%= link_to("ユーザーログイン", "/users/login") %>
      </li>
        <p> or</p>
      <li class="signup">
        <%= link_to("鍼灸師さんはこちらから新規登録", "/prousers/signup") %>
        <br>
        <%= link_to("ユーザー新規登録", "/users/signup") %>
      </li>
    </ul>
  </div>
</div>
