<div class="main top-main">
  <div class="top-message">
    <h2>鍼灸師のAPP ですーーーーーーー</h2>
    <p>aaaaaaaaaaaaa</p>
  </div>

  <div class="top-content">
    <ul>
      <li class="singnin">
        ログイン
      </li>
        <p> or</p>
      <li class="signup">
        新規登録
      </li>
    </ul>
  </div>
</div>
