<div class="main-global">
  <div class="main-visual">
    <div class="main-text">お気に入りの鍼灸師さんが見つかる</div>
  </div>
    <div class="main-header-logo">
      <img src="/assets/logo.png" alt="NeedLeeのロゴ">
    </div>
    <div class="app-explanation">
      <p>お気に入りの鍼灸師さんが見つかるサイトです。鍼灸師さんが発信する投稿からクーポンをゲットできたり、近くの鍼灸師さんを検索して、お気に入りの鍼灸師さんを見つけましょう。</p>
  </div>
</div>

<div class="top-menus">
  <li class="top-menu">
    <%= link_to("新規ユーザー登録", "/newusers/signup", class: "signup") %>
  </li>
  <li class="top-menu">
    <%= link_to("ログイン", "/newusers/login", class: "signin") %>
  </li>
</div>


