<% if @current_newuser.present? && @current_newuser.id %>
  <% @newusers.each do |newuser| %>
    <div class="newposts-index-item">
      <div class="newpost-left">
        <%= link_to image_tag("/newuser_images/pc.jpg", class:"newuser-images"), newuser_path(newuser.id) %>
      </div>
      <div class="newpost-right">
        <div class="newpost-name">
          <%= link_to(newuser.name, "/newusers/#{newuser.id}") %>
        </div>
        <div class="newpost-prefecture">
          <%= newuser.prefecture %>
        </div>
      </div>
    </div>
  <% end %>
<% end %>