<div class="newuser">
      <img src="<%= "/newuser_images/#{@newuser.image}" %>" alt="鍼灸師さんのユーザー画像">    
      <p><%= @newuser.name %></p>
      <%# ログインしているユーザーのみ編集できる %>
      <% if @current_newuser.present? && @newuser.id == @current_newuser.id %>
        <%= link_to("ユーザー情報編集", "/newusers/#{@newuser.id}/edit") %>
      <% end %>
    </div>

    