<div class="main newusers-index">
  <div class="container">
    <div class="select-area">
      <p >エリアから探す</p>
    </div>
    <div class="newusers-index-list">
      <% @newusers.each do |newuser| %>
      <div class="newusers-index-item">
        <div class="newuser-left">
          <img src="<%= "/newuser_images/#{newuser.image}" %>" alt="鍼灸師さんのユーザー画像">
        </div>
        <div class="newuser-right">
          <div class="newuser-right-name">
            <%= link_to(newuser.name, "/newusers/#{newuser.id}") %>
          </div>
          <div class="newuser-right-content">
            <%= newuser.content %>
          </div>
          <div class="newprofile-menus">
            <p>ハート</p>
            <p>コメント</p>
            </ul>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>