<div class="main newusers-new">
  <div class="container">
    <h2>ログインページ</h2>
      <div class="form newusers-form">
        <div class="form-body">
          <% if @error_message %>
            <div class="form-error">
              <%= @error_message %>
            </div>
          <% end %>
          <%= form_tag("/newusers/login") do %>
              <p>メールアドレス</p>
              <input name="email" velue="<%= @email %>">
              <p>パスワード</p>
              <input type="password" name="password" placeholder="半角英数字" value="<%= @password %>">
              <input type="submit" value="ログイン">
          <% end %>
        </div>
      </div>
  </div>
</div>