<div class=" main posts-index">
  <div class="container">
    <h1 class="form-head">投稿一覧</h1>
    <% @posts.each do |post| %>
      <div class="posts-index-item">
        <div class="post-left">
          <img src="<%= "/prouser_images/#{post.prouser.image}" %>">
        </div>
        <div class="post-right">
          <div class="post-prouser-name">
            <%= link_to(post.prouser.name, "/prousers/#{post.prouser.id}") %>
          </div>
          <%= link_to(post.content, "/posts/#{post.id}") %>
        </div> 
      </div>
    <% end %>
  </div>
</div>