// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
/* reset ================================ */

// 色の変数定義
// 文字やフォーム囲む色
$color-brown: #5F3F01;
// 背景色薄ピンク
$color-lightpink: #FFD6D4;
//  背景色クリーム
$color-cream: #fffaf0;
// 文字のリンク
$color-coralpink: #F0A28F;
$color-gray: #8899a6;
$color-white: #FFFEF6;
$color-red: #ff4d75;


// 共通レイアウト
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto;
  // min-height: 1vh;
  font-family:  'Noto Sans JP', sans-serif;
  font-weight: 400;
  color: $color-brown;
  background-color: $color-lightpink;
  ul, li {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  a {
    text-decoration: none;
    color: $color-brown;
  }
  h1, h2, h3, h4, h5, h6, p {
    margin: 0;
  }
  div {
    display: block;
  }
}


// mainレイアウト

.main {
  position: absolute;
  top: 64px;
  width: 100%;
  height: auto;
  min-height: 100%;
  background-color:$color-lightpink;
}

.container {
  width: 100%;
  max-width: 624px;
  margin: 64px auto;
  padding-left: 16px;
  padding-right: 16px;
  clear: both;
}


// ヘッダーレイアウト

@media (max-width: 750px) {
  .header {
    width: calc(100% - 10px);
    height: 56px;
    right: 0;
    padding: 0 0 0 32px;
    border-radius: 32px 0 0 32px;
    
  }
  .header-menu__list {
    display: none;
  }
}

@media (min-width: 751px) {
  .header-logo {
    margin-left: 24px;
  }
  .header-nav {
      display: none;
  }
  .header-menu__item {
      display: flex;
      margin-right: 16px
  }
}

.header {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: calc(100% - 10px);
  height: 72px;
  top: 10px;
  right: 0px;
  border-top-left-radius: 32px;
  border-bottom-left-radius: 32px;
  z-index: 100;
  background-color: $color-cream;
}

.header-logo {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  z-index: 5;
  img {
    width: 100%;
    height: 100%;
    display: block;
  }
}

// .header-nav__list {
//   position: relative;
// }

.header-menu__link {
  display: block;
  font-weight: 700;
  font-size: 16px;
  margin: 8px;
  color: $color-coralpink;
  line-height: 24px;
}

.header-nav-trigger {
  width: 100%;
  height: 100%;
}

#menu-btn {
  position: relative;
  width: 32px;
  height: 32px;
  right: 24px;
  z-index: 5;
}

#menu-conts {
  display: none;
  position: fixed;
  z-index: 80;
  width: calc(100% - 10px);
  top: 10px;
  right: 0;
  padding-top: 72px;
  border-radius: 32px 0 0 32px;
  overflow: hidden;
  background-color: $color-cream;
  a {
    display: block;
    color: $color-coralpink;
    text-decoration: none;
    padding: 4px 0;
  }
}

.header-nav__link {
  display: block;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 1px;
  color: $color-coralpink;
  margin: 24px;
  border-bottom: solid 1px $color-coralpink;
}


// topレイアウト

.main-global {
  // padding: 100px 0 100px; 
  text-align: center;
  color: $color-brown;
  background-position: center 50%;
  background-size: cover;
  background-image: url("/top.jpg");
  h2 {
    font-size: 72px;
    font-weight: 400;
    line-height: 1.2;
    margin-bottom: 20px;
  }
}

.main-visual {
  background-image: url("main-visual.png");
  width: 100%;
  height: 400px;
}

.main-text {
  position: absolute;
  top: 320px;
  left: 10%;
}

.main-header-logo {
  margin: 24px;
  text-align: center;
}


.top-menus {
  margin-top: 24px;
  display: flex;
}

.top-menu {
  margin: 24px auto;
  display: block;
  align-items: center;
  text-align: center;
  width: 180px;
  padding: 8px;
  border-radius: 32px;
  background-color: $color-cream;
  a {
    color: $color-brown;
  }
}



/* フォーム================================ */
.form {
  max-width: 600px;
  margin: 0 auto;
  background-color: $color-cream;
  // box-shadow: 0 2px 6px $color-gray;
  border-radius: 32px;
  p {
    font-size: 18px;
    margin-top: 16px;
  }
}

  input {
  border-radius: 2px;
  background-color: transparent;
  border: 1px solid $color-brown;
  padding: 10px;
  font-size: 16px;
  letter-spacing: 2px;
  margin-right: 10px;
  cursor: pointer;
  margin-top: 16px;
  width: 100%;
  display: block;
  text-decoration: none;
  &::placeholder {
    color: $color-brown;
    opacity: 0.5;
  }
}

.form-body {
  padding: 24px;
}

.form-error {
  color: $color-red;
}

.form textarea {
  width: 100%;
  min-height: 88px;
  font-size: 16px;
  letter-spacing: 2px;
}

input[type="submit"] {
    background-color: $color-lightpink;
    color: $color-brown;
    border-bottom: solid 4px $color-coralpink;
    border-radius: 8px;
    border-top: none;
    border-right: none;
    border-left: none;
}

.form input:active {
  // ボタンを押した時
  -webkit-transform: translateY(4px);
  transform: translateY(4px);
  border-bottom: none;
}

.type-user-select-area {
  display: flex;
  margin-top: 16px;
}

label {
  // 文字の折り返しなし
  white-space: nowrap;
  position: relative;
}

input[type="radio"] {
  top: 6px;
  position: relative;
  margin: 0;
  margin-left: 64px;
}

.radio {
  width: 40%;
  display: flex;
  // ラジオボタンを左寄せ
  margin-left: -48px;
  // ラジオボタン間の距離
  margin-right: 24px;
}

// フラッシュ
.flash {
  padding: 10px 0;
  color: $color-brown;
  background:$color-coralpink;
  text-align: center;
  position: absolute;
  top: 80px;
  z-index: 70;
  width: 100%;
  border-radius: 0 0 2px 2px;
  font-size: 16px;
}