@import "home", "newusers";

@mixin btn-item-like($color) {
  margin-left: 32px;
  color: $color;
}

.newposts-index-list {
  @include index-list;
}

.newposts-index-item {
  @include index-item;
}

.newpost-left {
  @include item-left;
  float: left;
}

.newpost-right {
  @include item-right;
  float: left;
}

.newpost-name {
  @include  index-item-name;
}

.newpost-post {
  font-weight: 400;
  vertical-align: middle;
  font-size: 16px;
  margin-top: 4px;
}


// posts/show コメント部分の実装

.newcomment-index-item{
  @include index-list;
}

.newcomment-index-item {
  @include index-item;
  border-bottom: none;
}


.newcomment-name {
  @include index-item-name;
}

.newcomment-left {
  @include item-left;
  float: left;
}

.newcomment-right {
  @include item-right;
  float: left;
}

.newcomment-menus {
  position: relative;
  top: 32px;
}



.newposts-show-item {
  @include index-item;
  border: none;
  font-size: 16px;
  margin-left: 16px;
  margin-right: 16px;
  img {
    width: 48px;
    height: auto;
    border-radius: 32%;
    vertical-align: middle;
  }
  p {
    font-size: 24px;
    margin: 24px 0px;
  }
}

.newpost-name a {
  margin-left: 8px;
}

.newpost-content  {
  margin-left: 32px;
}

.newpost-time {
  color: $color-gray;
  margin-left: 32px;
  margin-bottom: 8px;
  text-align: start;
}

.newpost-menus {
  float: right;
  a {
    color: $color-gray;
    text-decoration: underline;
    font-size: 14px;
  }
}

.newcomment-menus a, .newpost-menus input {
  color: $color-gray;
  text-decoration: underline;
  font-size: 14px;
}

/* posts/new ================================ */
.newposts-new textarea {
  padding: 8px;
  // background-color: transparent;
  border: 1px solid $color-brown;
  padding: 10px;
  font-size: 16px;
  letter-spacing: 2px;
  margin-right: 10px;
  cursor: pointer;
  border-radius: 2px;
  
}

.newposts-new textarea::placeholder {
  font-size: 16px;
  color: $color-brown;
  opacity: 0.5;
}

.newlike-btn {
  @include btn-item-like($color-coralpink);
}

.newlike-btn-unlike {
  @include btn-item-like($color-gray);
}