@import "home";

.newusers-index-list {
  border: solid 1px $color-coralpink;
}
.newusers-index-item {
  padding: 20px 30px;
  background-color: $color-cream;
  overflow: hidden;
  // box-shadow: 0 2px 6px $color-gray;
  display: flex;
  width: 100%;
  height: 100%;
  border-bottom: solid 1px $color-coralpink;
}

.select-area {
  width: 100%;
  background-color: $color-cream;
  height: 48px;
  margin-bottom: 32px;
  border-radius: 32px;
  // display: flex;
  align-items: center;
  p {
    font-size: 16px;
    text-align: center;
    line-height: 48px;
  }
}

.select-area {
  top: 100px;
  display: block;
  cursor: pointer;
}



.newuser-left {
  width: 10%;
  img {
    width: 56px;
    height: auto;
    border-radius: 32%;
    vertical-align: middle;
  }
}


.newuser-right {
  width: 80%;
  padding-left: 32px;
  display: flex;
  position: relative;
  top: 12px;
  justify-content: space-between;
}

.newuser-right-name {
  font-size: 20px;
  // margin-right: 24px;
}



.newusers-show {
  text-align: center;
}

.newuser {
  img {
    width: 80px;
    height: 80px;
    border-radius: 32%;
    // box-shadow: 0 2px 6px $color-gray;
    margin: 20px 0 10px;
    object-fit: cover;
  }
  h2 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 8px;
  }
  a {
    opacity: 0.6;
    // text-decoration: underline;
    font-weight: 200;
    font-size: 16px;
    &:hover {
      opacity: 1;
    }
  }

}


.newuser-tabs {
  margin-top: 40px;
  background-color: $color-coralpink;
  overflow: hidden;
  // box-shadow: 0 2px 6px $color-gray;
  li {
    float: left;
    }
  
  a {
    display: inline-block;
    padding: 16px 12px;
    color: $color-brown;
    // opacity: 0.5;
  }
  
}
.newuser-tabs li.active a {
  background-color: $color-cream;
}

// user_type:1の時はdisplay:none;
#hide-text {
  display: none;
}

.newuser-profile-list {
  margin: 8px;
  float: left;
  text-align: left;
}

.newuser-profile-item {
  margin: 8px;
}

.btn-follow {
  position: relative;
  display: inline-block;
  padding:  4px 8px;
  text-decoration: none;
  color: $color-coralpink;
  background: #fff;/*色*/
  border: solid 1px lighten($color-coralpink, 10%);/*線色*/
  border-radius: 8px;
  box-shadow: inset 0 1px 0 rgba(255,255,255,0.2);
  text-shadow: 0 1px 0 rgba(0,0,0,0.2);
    &:active {
      background-color: lighten($color-coralpink, 20%);
      box-shadow: none;
      text-shadow: none;
    }
}
.btn-unfollow {
  position: relative;
  display: inline-block;
  padding:  4px 8px;
  text-decoration: none;
  color: #FFF;
  background: $color-coralpink;/*色*/
  border: solid 1px $color-coralpink;/*線色*/
  border-radius: 8px;
  box-shadow: inset 0 1px 0 rgba(255,255,255,0.2);
  text-shadow: 0 1px 0 rgba(0,0,0,0.2);
    &:active {
      background-color: darken($color-coralpink, 20%);
      box-shadow: none;
      text-shadow: none;
    }
}




@media (min-width: 751px) {
  .newuser-tabs a {
    padding: 16px 24px;
  }
}