@import "home";

@mixin index-list {
  border: solid 1px $color-coralpink;
}
@mixin index-item {
  padding: 20px 30px;
  background-color: $color-cream;
  border-bottom: solid 1px $color-coralpink;
  overflow: hidden;
}

@mixin item-left {
  width: 10%;
  img {
    width: 48px;
    height: auto;
    border-radius: 32%;
    vertical-align: middle;
  }
}

@mixin item-right {
  width: 80%;
  padding-left: 32px;
}

@mixin index-item-name {
  font-weight: 600;
  & a:hover {
    color: $color-coralpink;
    cursor: pointer;
  }
}

@mixin btn-item($color, $background) {
  position: relative;
  display: inline-block;
  padding:  4px 8px;
  text-decoration: none;
  color: $color;
  background: $background;
  border: solid 1px lighten($color-coralpink, 10%);
  border-radius: 8px;
  &:active {
    background-color: lighten($color-coralpink, 20%);
    box-shadow: none;
    text-shadow: none;
  }
}

.newusers-index-list {
  @include index-list;
}

.newusers-index-item {
  @include index-item;
  display: flex;
}

.select-area {
  width: 100%;
  background-color: $color-cream;
  height: 48px;
  margin-bottom: 32px;
  border-radius: 32px;
  // display: flex;
  align-items: center;
  top: 100px;
  display: block;
  cursor: pointer;
  p {
    font-size: 16px;
    text-align: center;
    line-height: 48px;
  }
}



.newuser-left {
  @include item-left;
}

.newuser-right {
  @include item-right;
  display: flex;
  position: relative;
  top: 12px;
  justify-content: space-between;
}



.newuser-right-name {
  @include  index-item-name;
  font-size: 16px;
}


.newuser {
  text-align: center;
  img {
    width: 80px;
    height: 80px;
    border-radius: 32%;
    margin: 20px 0 10px;
  }
  p {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 8px;
  }
  a {
    opacity: 0.6;
    // text-decoration: underline;
    font-weight: 200;
    font-size: 16px;
    &:hover {
      opacity: 1;
    }
  }
}

@media (min-width: 751px) {
  .newuser-tabs a {
    padding: 16px 24px;
  }
}

.newuser-tabs {
  margin-top: 40px;
  background-color: $color-coralpink;
  overflow: hidden;
  li {
    float: left;
    }
  a {
    display: inline-block;
    padding: 16px 12px;
    color: $color-brown;
    // opacity: 0.5;
  }
}
.newuser-tabs li.active a {
  background-color: $color-cream;
}


// user_type:1の時はdisplay:none;
#hide-text {
  display: none;
}

.newuser-profile-list {
  margin: 8px;
  float: left;
  text-align: left;
}

.newuser-profile-item {
  margin: 8px;
}



.btn-unfollow {
  @include btn-item($color-coralpink, $color-white);
}
.btn-follow {
  @include btn-item( $color-white, $color-coralpink);
}
